[submodule "config/gdi-starter-kit/starter-kit-htsget"]
	path = config/gdi-starter-kit/starter-kit-htsget
	url = https://github.com/GenomicDataInfrastructure/starter-kit-htsget.git
[submodule "config/gdi-starter-kit/starter-kit-storage-and-interfaces"]
	path = config/gdi-starter-kit/starter-kit-storage-and-interfaces
	url = https://github.com/GenomicDataInfrastructure/starter-kit-storage-and-interfaces.git
